@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f87171;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}

.favorite {
  background-image: url("/images/empty-heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.favoriteActive {
  background-image: url("/images/red-heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
