<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />
    <title>AirBnB</title>
  </head>
  <body>
    <header
      class="flex items-center justify-start h-12 px-10 text-white bg-red-500"
    >
      <ul class="flex items-center justify-start">
        <li class="px-5 py-2 mx-2 rounded-md hover:bg-red-400">
          <a href="/">Home</a>
        </li>
        <li class="px-5 py-2 mx-2 rounded-md hover:bg-red-400">
          <a href="/registerHome">Register Home</a>
        </li>
        <li class="px-5 py-2 mx-2 rounded-md hover:bg-red-400">
          <a href="/contactUs">Contact Us</a>
        </li>
      </ul>
    </header>
    <main class="flex items-center justify-center">
      <div class="p-10 mt-5 rounded-md shadow-2xl w-96">
        <h1 class="text-3xl font-semibold text-center">Welcome to AirBnB</h1>
      </div>
    </main>
  </body>
</html>
