<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />
    <title>Home registration successful...</title>
  </head>
  <body>
    <header
      class="px-10 flex justify-start items-center h-12 bg-red-500 text-white"
    >
      <ul class="flex justify-start items-center">
        <li class="mx-2 px-5 py-2 rounded-md hover:bg-red-400">
          <a href="/">Home</a>
        </li>
        <li class="mx-2 px-5 py-2 rounded-md hover:bg-red-400">
          <a href="/addHome">Add Home</a>
        </li>
        <li class="mx-2 px-5 py-2 rounded-md hover:bg-red-400">
          <a href="/contactUs">Contact Us</a>
        </li>
      </ul>
    </header>
    <main class="flex justify-center items-center">
      <div class="mt-5 p-10 w-96 shadow-2xl rounded-md">
        <h1 class="text-red-500 text-xl text-center font-bold">
          Home registered successfully...
        </h1>
        <p class="my-2">Your home has been added to our listings.</p>
        <div
          class="m-3 flex flex-col justify-center items-center"
        >
          <a href="/"><button
            class="my-1 p-2 w-full border rounded-md bg-red-500 text-white font-semibold"
            type="submit"
          >
            Return to Home
          </button></a>
        </form>
      </div>
    </main>
  </body>
</html>
