<form action="/favorites" method="POST">
  <input type="hidden" name="houseId" value="<%= home.houseId %>" />x
  <button class="absolute w-5 top-2 right-2">
    <img src="/images/empty-heart.png" alt="favoriteBtn" />
  </button>
</form>
